# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea
.env
.env*

*.tar

config.yml
config*.yml
build

# Generated data
cmd/fuzz/jpeg/
cmd/cli/2025/

# macOS
.DS_Store

# Terraform
deploy/gitlab/.terraform/
deploy/gitlab/terraform.tfstate*

# Secrets
deploy/gitlab/sa-*.json
