log:
  level: info
  filename: /var/log/notmanytask/notmanytask.log
  maxSize: 50MB
  maxBackups: 10
  compress: true

gitlab:
  baseURL: https://gitlab.com
  taskURLPrefix: https://gitlab.com/{USER}/{REPO}/-/tree/main/tasks
  defaultReadme: '
    # Решения

    Ваши решения создаются и тестируются в отдельных ветках (кнопка Branches выше). Сливать ветки в master не нужно.
  '
  group:
    name: {GITLAB_GROUP_NAME}
    id: {GITLAB_GROUP_ID}
  api:
    token: {GITLAB_TOKEN}
  application:
    secret: {GITLAB_APPLICATION_SECRET}
    clientId: {GITLAB_APPLICATION_CLIENT_ID}

endpoints:
  hostname: https://{SITE_DOMAIN}
  home: /
  flag: /flag
  login: /login
  logout: /logout
  signup: /signup
  standings: /standings
  retakes: /retakes
  oauthCallback: /finish
  api:
    report: /api/report
    flag: /api/flag
    standings: /api/standings

server:
  listenAddress: ":18080"
  cookies:
    authenticationKey: {RANDOM_COOKIE_AUTH_KEY}
    encryptionKey: {RANDOM_COOKIE_ENCRYPTION_KEY}

database:
  host: db
  port: 5432
  user: postgres
  pass: {POSTGRES_PASSWORD}
  name: postgres

testing:
  tokens:
  - {GRADER_OR_CRASHME_TOKEN}
  - {GRADER_OR_CRASHME_TOKEN_2}

groups:
- name: hse
  secret: ihatecpp
  deadlinesUrl: https://gitlab.com/{USER}/{REPO}/-/raw/main/deadlines/hse.yml
  deadlinesFormat: v2
- name: test
  secret: ilovecpp
  deadlinesUrl: https://gitlab.com/{USER}/{REPO}/-/raw/main/deadlines/test.yml
  deadlinesFormat: v2

pullIntervals:
  projects: 10s
  pipelines: 30s
  deadlines: 10s
