<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
    </div>

    <div class="container p-3 my-3">
      <h1 class="display-2">Deadlines</h1>
    </div>

    <div class="container p-3 my-3">
      <div class="p-2">
        <h1>Intro</h1>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card h-100 border-success">
            <div class="card-body">
              <h2 class="card-title">multiplication</h2>
              <p class="card-text fs-1 text-success">100 / 100</p>
            </div>
            <div class="card-footer">
              <small>Pipeline passed</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 border-danger">
            <div class="card-body">
              <h2 class="card-title">dedup</h2>
              <p class="card-text fs-1 text-danger">0 / 100</p>
            </div>
            <div class="card-footer">
              <small>Pipeline failed</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">harakiri</h2>
              <p class="card-text fs-1 fg-primary">0 / 100</p>
            </div>
            <div class="card-footer">
              <small>Assigned</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">cow-vector</h2>
              <p class="card-text fs-1 fg-primary">0 / 100</p>
            </div>
            <div class="card-footer">
              <small>Assigned</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">deque</h2>
              <p class="card-text fs-1 fg-primary">0 / 400</p>
            </div>
            <div class="card-footer">
              <small>Assigned</small>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container p-3 my-3">
      <div class="p-2">
        <h1>Intro</h1>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 text-white">

        <div class="col">
          <div class="card h-100 bg-success">
            <div class="card-body">
              <h2 class="card-title">multiplication</h2>
              <p class="card-text fs-1">100 / 100</p>
            </div>
            <div class="card-footer">
              <small>Pipeline passed</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 bg-danger">
            <div class="card-body">
              <h2 class="card-title">dedup</h2>
              <p class="card-text fs-1">0 / 100</p>
            </div>
            <div class="card-footer">
              <small>Pipeline failed</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 bg-primary">
            <div class="card-body">
              <h2 class="card-title">harakiri</h2>
              <p class="card-text fs-1">0 / 100</p>
            </div>
            <div class="card-footer">
              <small>Assigned</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 bg-primary">
            <div class="card-body">
              <h2 class="card-title">cow-vector</h2>
              <p class="card-text fs-1 fg-primary">0 / 100</p>
            </div>
            <div class="card-footer">
              <small>Assigned</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100 bg-primary">
            <div class="card-body">
              <h2 class="card-title">deque</h2>
              <p class="card-text fs-1 fg-primary">0 / 400</p>
            </div>
            <div class="card-footer">
              <small>Assigned</small>
            </div>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>

