<!DOCTYPE html>
<html>
  <head>
    <title>cpp</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
          integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />    
    <link rel="stylesheet" href="/static/style.css?q=1524328961">

    {{ if .False }}
    <link rel="icon" type="image/png"
          href="/static/favicon-cpp.png?q=1518431012" />
    {{ end }}
  </head>
  <body class="home">
    
<div class="site">
  <header class="header-container">
    
    <nav id="navmenu">
      <ul class="main-menu">
        
        <li>
          <a href="/"
             class="current">
            Tasks
          </a>
        </li>
        <li>|</li>
        
        <li>
          <a href="https://gitlab.manytask.org/cpp-spring-2021/BigRedEye"
             class="">
            My Repo
          </a>
        </li>
        <li>|</li>
        
        <li>
          <a href="https://gitlab.manytask.org/cpp-spring-2021/BigRedEye/-/jobs"
             class="">
            submits
          </a>
        </li>
        <li>|</li>
        
        <li>
          <a href="https://docs.google.com/spreadsheets/d/1W9PYY2lV5lUFANuI--gbhPiqGdRklsG3yoknVxq0fbg"
             class="">
            gdoc
          </a>
        </li>
        <li>|</li>
        
        <li>
          <a href="/submit"
             class="">
            submit flag
          </a>
        </li>
        <li>|</li>
        
        <li>
          <a href="/logout"
             class="">
            Logout
          </a>
        </li>
        
        
      </ul>
    </nav>
    
  </header>
  <main class="main">
    

<div class="group">
  <div class="group-header">
    <h1 class="timer">[25-05-2021 23:59] GDB</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/gdb-sym/">
    
      <div class="task solved">
        <div class="name">gdb-sym</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/gdb-nosym/">
    
      <div class="task solved">
        <div class="name">gdb-nosym</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/coredump/">
    
      <div class="task solved">
        <div class="name">coredump</div>
        <div class="score">200</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/flaky/">
    
      <div class="task solved">
        <div class="name">flaky</div>
        <div class="score">100</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[25-05-2021 23:59] [HW] clang</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/clang-fun/">
    
      <div class="task solved">
        <div class="name">clang-fun</div>
        <div class="score">1</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[30-04-2021 23:59] Redis</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/redis">
    
      <div class="task solved">
        <div class="name">resp-reader</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/redis">
    
      <div class="task solved">
        <div class="name">resp-writer</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/redis">
    
      <div class="task solved">
        <div class="name">redis-client</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/redis">
    
      <div class="task solved">
        <div class="name">redis-server</div>
        <div class="score">100</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[20-04-2021 23:59] Advanced Networking</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/cactus/rpc/gen-rpc">
    
      <div class="task solved">
        <div class="name">gen-rpc</div>
        <div class="score">200</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/cactus/rpc">
    
      <div class="task solved">
        <div class="name">transport</div>
        <div class="score">200</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/socksd">
    
      <div class="task solved">
        <div class="name">socksd</div>
        <div class="score">200</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/balancer">
    
      <div class="task solved">
        <div class="name">balancer</div>
        <div class="score">200</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[13-04-2021 23:59] Network Intro</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/portscan">
    
      <div class="task solved">
        <div class="name">portscan</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/portknock">
    
      <div class="task solved">
        <div class="name">portknock</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/socks4">
    
      <div class="task solved">
        <div class="name">sock4</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/levysotsky/shad-cpp-cactus/tree/master/fanout">
    
      <div class="task solved">
        <div class="name">fanout</div>
        <div class="score">100</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[21-03-2021 23:59] Best C++ techniques</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/sfinae/">
    
      <div class="task solved">
        <div class="name">sfinae</div>
        <div class="score">300</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/compile-eval/">
    
      <div class="task solved">
        <div class="name">compile-eval</div>
        <div class="score">200</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/constexpr-map/">
    
      <div class="task solved">
        <div class="name">constexpr-map</div>
        <div class="score">100</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[28-03-2021 23:59] [HW] Executors</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/executors/">
    
      <div class="task solved">
        <div class="name">executors</div>
        <div class="score">1</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[19-03-2021 23:59] Advanced Concurrency</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/futex/">
    
      <div class="task solved">
        <div class="name">futex</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/hazard-ptr/">
    
      <div class="task unsolved">
        <div class="name">hazard-ptr</div>
        <div class="score">200</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/lock-free-stack/">
    
      <div class="task solved">
        <div class="name">lock-free-stack</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/sync-map/">
    
      <div class="task unsolved">
        <div class="name">sync-map</div>
        <div class="score">100</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[04-03-2021 23:59] Atomics</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/spinlock/">
    
      <div class="task solved">
        <div class="name">spinlock</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/rw-spinlock/">
    
      <div class="task solved">
        <div class="name">rw-spinlock</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/rw-counter/">
    
      <div class="task solved">
        <div class="name">rw-counter</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/fast-queue/">
    
      <div class="task solved">
        <div class="name">fast-queue</div>
        <div class="score">300</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/mpsc-queue/">
    
      <div class="task unsolved">
        <div class="name">mpsc-queue</div>
        <div class="score">100</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[07-03-2021 23:59] [HW] Jpeg Decoder</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/jpeg-decoder/">
    
      <div class="task solved">
        <div class="name">jpeg-decoder</div>
        <div class="score">1</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[25-02-2021 23:59] Condition variables</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/semaphore/">
    
      <div class="task solved">
        <div class="name">semaphore</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/rw-lock/">
    
      <div class="task solved">
        <div class="name">rw-lock</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/timerqueue/">
    
      <div class="task unsolved">
        <div class="name">timerqueue</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/buffered-channel/">
    
      <div class="task solved">
        <div class="name">buffered-channel</div>
        <div class="score">200</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/unbuffered-channel/">
    
      <div class="task solved">
        <div class="name">unbuffered-channel</div>
        <div class="score">300</div>
      </div>
    </a>
  
  </div>
</div>

<div class="group">
  <div class="group-header">
    <h1 class="timer">[18-02-2021 23:59] Hello Threads</h1>
  </div>
  <div class="group-tasks">
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/is-prime/">
    
      <div class="task solved">
        <div class="name">is-prime</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/reduce/">
    
      <div class="task solved">
        <div class="name">reduce</div>
        <div class="score">100</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/subset-sum/">
    
      <div class="task solved">
        <div class="name">subset-sum</div>
        <div class="score">200</div>
      </div>
    </a>
  
    
    <a href="https://gitlab.com/slon/shad-cpp/blob/master/hash-table/">
    
      <div class="task solved">
        <div class="name">hash-table</div>
        <div class="score">100</div>
      </div>
    </a>
  
  </div>
</div>


  </main>
</div>

  </body>
</html>
