<!DOCTYPE html>
<html>
    <head>
        <title>{{ .CourseName }}</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
                               integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
    </head>
    <body class="home">
        <div class="signup">
            <div class="login">
                <a class="login-button" href="/login">
                    <div class="text">
                        Login
                    </div>
                </a>
            </div>

            <div class="or">
                <div class="text">
                    OR
                </div>
            </div>

            <div class="register">
                <div class="form">
                    <div class="form-header">
                        <h1>Sign Up</h1>
                    </div>
                    <form method="post">
                        {{ if .ErrorMessage }}
                        <div class="form-element form-error">
                            <div class="error-message">{{ .ErrorMessage }}</div>
                        </div>
                        {{ end }}
                        <div class="form-element">
                            <div class="name">Gitlab Username:</div>
                            <input type="text" name="username">
                        </div>
                        <div class="form-element">
                            <div class="name">First Name:</div>
                            <input type="text" name="firstname">
                        </div>
                        <div class="form-element">
                            <div class="name">Last Name:</div>
                            <input type="text" name="lastname">
                        </div>
                        {{ if .Login.NeedGroup }}
                        <div class="form-element">
                            <div class="name">Group:</div>
                            <input type="text" name="group">
                        </div>
                        {{ end }}
                        <div class="form-element">
                            <div class="name">Secret Code:</div>
                            <input type="text" name="secret">
                        </div>
                        <div class="form-element last">
                            <input type="submit" class="button" value="Register">
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </body>
</html>

