<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>HSE Advanced C&#43;&#43;</title>
    <style>
.navbar-brand {
  font-size: 3rem;
  font-weight: 300
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <div class="col col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-md-10 offset-md-1">
          <p class="navbar-brand mb-0 h1 text-center">Advanced C++</p>
        </div>
      </div>
    </nav>

    <div class="container p-2 my-2">
      <div class="row p-2">
        <div class="col col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-md-10 offset-md-1">
          <div class="card">
            <div class="card-body">
              <form method="post" action="{{ .Config.Endpoints.Signup }}" class="needs-validation was-validated">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingFirstName" placeholder="Ivan" name="firstname" required pattern="[A-Za-z-]+">
                  <label for="floatingFirstName">First name</label>
                  <div class="invalid-feedback">
                    Please use only Latin letters
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingLastName" placeholder="Petrov" name="lastname" required pattern="[A-Za-z-]+">
                  <label for="floatingLastName">Last name</label>
                  <div class="invalid-feedback">
                    Please use only Latin letters
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingSecretCode" placeholder="LolKekCheburek" name="secret" required pattern="[A-Za-z0-9-_]+">
                  <label for="floatingSecretCode">Secret code</label>
                  <div class="invalid-feedback">
                    Ask your teacher
                  </div>
                </div>

                {{ if .ErrorMessage }}
                <div class="alert alert-danger" role="alert">
                    {{ .ErrorMessage }}
                </div>
                {{ end }}

                <div class="d-grid mb-3">
                  <button type="submit" class="btn btn-outline-success">Sign up via GitLab</button>
                </div>
              </form>

              <div class="d-grid">
                <a class="btn btn-outline-primary btn-block" href="{{ .Config.Endpoints.Login }}">Login via GitLab</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>

