<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <title>{{ .Title }}</title>
        <style>
.shadow-hover:hover {
    transition: all 0.1s ease;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important
}
.shadow-hover {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important
}

.task-success {
    background-color: #a6e9d5;
    border-color: #4dd4ac;
}

.task-failed {
    background-color: #f8d7da;
    border-color: #f1aeb5;
}

.task-checking {
    border-color: #0d6efd;
    background-color:#9ec5fe;
}

.task-assigned {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: 300
}

.nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.task {
    min-width: 50px;
    max-width: 50px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white!important;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  background-color: white!important;

  z-index: 10;
  top: 0px;
  max-height: 10px;
  overflow: hidden;
}

.first-col {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  left: 0px;
}

.second-col {
  left: 50px;
}

.task-name {
    writing-mode: vertical-lr;
    text-orientation: mixed;

    max-height: 150px;
    overflow: hidden;
}

.corner {
    z-index: 20;
}
        </style>
    </head>
    <body>
      <nav class="navbar navbar-light bg-light">
          <div class="container">
              <span class="navbar-brand mb-0 h1"><a href="/" class="text-decoration-none text-dark">Advanced C++</a></span>
              <div class="row">
                  <div class="col-auto">
                      <a class="nav-link" href="{{ .Links.Deadlines }}"><h5>Tasks</h5></a>
                  </div>
                  <div class="col-auto">
                      <a class="nav-link" href="{{ .Links.Standings }}"><h5>Standings</h5></a>
                  </div>
                  <div class="col-auto">
                      <a class="nav-link" href="{{ .Links.SubmitFlag }}"><h5>Submit flag</h5></a>
                  </div>
                  <div class="col-auto">
                      <a class="nav-link" href="{{ .Links.Repository }}"><h5>My Repo</h5></a>
                  </div>
                  <div class="col-auto">
                      <a class="nav-link" href="{{ .Links.Submits }}"><h5>Submits</h5></a>
                  </div>
                  <div class="col-auto">
                      <a class="nav-link" href="{{ .Links.Logout }}"><h5>Logout</h5></a>
                  </div>
              </div>
          </div>
          </div>
      </nav>

        <div class="p-2 my-2">
            <div class="">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="num sticky-header sticky-col first-col corner">#</th>
                            <th scope="col" class="name sticky-header sticky-col second-col corner">Student</th>
                            <th scope="col" class="sticky-header">Score</th>
                            {{ range .Standings.Deadlines }}
                                {{ range .Tasks }}
                                    <th scope="col" class="task sticky-header"><span class="task-name">{{ .Task | prettifyTaskName }}</span></th>
                                {{ end }}
                            {{ end }}
                        </tr>
                    </thead>
                    <tbody>
                        {{ with index .Standings.Users 0 }}
                            <tr>
                                <th scope="row" class="num sticky-col first-col">0</th>
                                <th scope="row" class="name sticky-col second-col">Chuck Norris</th>
                                <td>{{ .MaxScore }}</td>
                                {{ range .Groups }}
                                    {{ range .Tasks }}
                                        <td class="task table-success"><a href="/private/solutions/{{ .Task }}" class="text-decoration-none text-dark">{{ .MaxScore }}</a></td>
                                    {{ end }}
                                {{ end }}
                            </tr>
                        {{ end }}
                        {{ range $index, $user := .Standings.Users }}
                            <tr>
                                <th scope="row" class="num sticky-col first-col">{{ inc $index }}</th>
                                <th scope="row" class="name sticky-col second-col">{{ $user.User.FirstName }} {{ $user.User.LastName }}</th>
                                <td>{{ $user.Score }}</td>
                                {{ range $user.Groups }}
                                    {{ range .Tasks }}
                                        {{ if eq .Status "success"}}
                                            <td class="task table-success">
                                        {{ else if eq .Status "failed"}}
                                            <td class="task table-danger">
                                        {{ else }}
                                            <td class="task">
                                        {{ end }}
                                        {{ if .BranchUrl }}
                                            <a href="{{ .BranchUrl }}" class="text-decoration-none text-dark">
                                        {{ end }}
                                        {{ .Score }}
                                        {{ if .BranchUrl }}
                                            </a>
                                        {{ end }}
                                        </td>
                                    {{ end }}
                                {{ end }}
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
